.entity {
    margin-top: 1%; 
}

.type {
    margin-top: 5%;
}

.register {
    margin-top: 5%;
}

.login {
    margin-top: 10%;
   
}

.register {
    margin-top: 10%;
}

.user {
    margin-top: 10%;
    position: center;
    margin-left: 15%;
    margin-right: 15%;
}


#editUser {
    margin-bottom: 1%;
    margin-left: 15%;
    margin-right: 15%;
}

.modal-dialog {
    height: auto;

}


.large-Modal .modal-dialog{
    height: 50%;
    width: 50%;
}

.inputStock {
    margin-bottom: 5%;  
}

.interval {
    margin-top: 5%;     
}

#loginButton {
    margin-bottom: 1%;
    margin-left: 1%;
}

#registerButton {
    margin-bottom: 1%;
    margin-left: 1%;
}

.search {
    margin-top: 1%;

}

.buttons {
    margin-left: 30%;
    margin-bottom: 1%;
}