            
	<div class="login" ng-controller="AuthenticationController" layout="column">
		<div class="loginBox md-whiteframe-z3" layout="column">
			<md-toolbar>
				<h2 class="md-toolbar-tools">
					<span>Sign In</span>
				</h2>
			</md-toolbar>
			<md-content layout-padding>
				<form name="loginForm" accept-charset="UTF-8" role="form">
					<md-input-container class="md-block" flex-gt-xs>
			            <label>Login</label>
			            <input ng-model="credentials.login" type="text" required="" name="login" autofocus>
          			</md-input-container>
          			<md-input-container class="md-block" flex-gt-xs>
			            <label>Password</label>
			            <input ng-model="credentials.password" type="password" required="" name="password">
		          </md-input-container>
				</form>
			</md-content>
			 
	        <button class="btn btn-success" id="loginButton" type="button" ng-disabled="loginForm.$invalid" ng-click="login()">
	        	<span class="fa fa-sign-in fa-lg">Sign In</span>
	        </button>
		</div>
		<uib-alert type="danger" dismiss-on-timeout="3000" ng-if="show" close="closeAlert()" ng-show="hide">Incorrect login or password</uib-alert> 

	</div>	
			
