    <div class="modalAddStock" controller='StockModalController' layout="column">
        <div class="modalCreateStockBox md-whiteframe-z3" layout="column">
            <md-toolbar>
                <h2 class="md-toolbar-tools">
                    <span>Create new stock</span>
                </h2>
            </md-toolbar>
            <md-content layout-padding>
                <form name="createStockForm" accept-charset="UTF-8" role="form" >
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Total</label>
                        <input ng-model="stock.total" type="number" required="" name="total" autofocus>
                    </md-input-container>
                  </md-input-container>
                  <p class="input-group">
                    <input type="text" class="form-control" datepicker-options="dateOptions"  uib-datepicker-popup ng-model="stock.date" is-open="datepopupOpened" ng-required="true" close-text="Close" />
                      <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="opendate()"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                  </p>
                </form>
            </md-content>
            <div class="modal-body" ng-init="alertStock = false" >
                <uib-alert type="danger" dismiss-on-timeout="2000" close="closeAlert()" ng-if="alertStock" ng-show="alertStock">{{msg}}</uib-alert> 
            </div>
       <div class="modal-footer">
            <button type="button" class="btn btn-success" ng-disabled="createStockForm.$invalid" ng-click="create(stock)">
              <span class="glyphicon glyphicon-ok-sign"></span> OK
            </button>
            <button type="button" class="btn btn-default" ng-click="cancel()">
              <span class="glyphicon glyphicon-remove"></span> Cancel
            </button>
      </div>
       
      </div>
    </div>
