    <div class="modalUpdateSpending" controller='SpendingModalController' layout="column">
        <div class="modalSpendingRevenueBox md-whiteframe-z3" layout="column">
            <md-toolbar>
                <h2 class="md-toolbar-tools">
                    <span>Update spending</span>
                </h2>
            </md-toolbar>
            <md-content layout-padding>
                <form name="updateSpendingForm" accept-charset="UTF-8" role="form" >
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Name</label>
                        <input ng-model="spending.name" type="text" required="" name="name" autofocus>
                    </md-input-container>
                  </md-input-container>
                  <md-input-container class="md-block" flex-gt-xs>
                        <label>Quantity</label>
                        <input ng-model="spending.quantity" type="number" required="" name="quantity" autofocus>
                    </md-input-container>
                  </md-input-container>
                  <p class="input-group">
                    <input type="text" class="form-control" datepicker-options="dateOptions"  uib-datepicker-popup ng-model="spending.date" is-open="datepopupOpened" ng-required="true" close-text="Close" />
                      <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="opendate()"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                  </p>
                  <fieldset class="standard" >
                    <label>Select types</label>
                     <ul class="list-inline">
                      <li ng-repeat="type in types">
                        <md-checkbox ng-checked="exists(type, selected)" ng-click="toggle(type,selected)">{{ type.name }}</md-checkbox>
                      </li>
                  </ul>  
                  </fieldset>
                  <button type="button" class="btn btn-default" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
                        Are you need more types?
                 </button>
                  <div uib-collapse="isCollapsed">
                    <div class="well well-lg">
                        <form name="addTypeForm" accept-charset="UTF-8" role="form">
                          <md-input-container class="md-block" flex-gt-xs >
                              <label>Name</label>
                              <input ng-model="newType.name" type="text" name="name" autofocus>
                          </md-input-container>
                        </md-input-container>
                      </form>
                        <button type="button" class="btn btn-primary" ng-disabled="addTypeForm.$invalid" ng-click="addNewType(newType)">OK</button>
                        <button class="btn btn-warning" ng-click="isCollapsed = !isCollapsed">Cancel</button>
                    </div>
                </div>
                </form>
            </md-content>
             <div class="modal-body" ng-init="alertSpending = false" >
                <uib-alert type="danger" dismiss-on-timeout="2000" close="closeAlert()" ng-if="alertSpending" ng-show="alertSpending">{{msg}}</uib-alert> 
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success" ng-disabled="updateSpendingForm.$invalid" ng-click="update(spending)">
                  <span class="glyphicon glyphicon-ok-sign"></span> OK
              </button>
              <button type="button" class="btn btn-default" ng-click="cancel()">
                  <span class="glyphicon glyphicon-remove"></span> Cancel
              </button>
            </div>
        </div>
    </div>