    <div class="modalUpdateUser" layout="column">
        <div class="modalUpdateRevenueBox md-whiteframe-z3" layout="column">
            <md-toolbar>
                <h2 class="md-toolbar-tools">
                    <span>Update account</span>
                </h2>
            </md-toolbar>
            <md-content layout-padding>
    <form name="userForm" accept-charset="UTF-8" role="form">
        <div layout-gt-xs="row">
          <md-input-container class="md-block" flex-gt-xs>
            <label>Fullname</label>
            <input ng-model="user.fullname" type="text" required="" name="fullname">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-xs>
            <label>Email</label>
            <input ng-model="user.email" type="email" required="" name="email" minlength="10" md-maxlength="100" ng-pattern="/^.+@.+\..+$/">
            <div ng-messages="userForm.email.$error" role="alert">
                <div ng-message-exp="['required', 'minlength', 'md-maxlength', 'pattern']">
                Your email must be between 10 and 100 characters long and look like an e-mail address.
                </div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-xs>
            <label>Phone</label>
            <input ng-model="user.phone" type="text" required="" name="phone" ng-pattern="/[0-9]{3} [0-9]{3} [0-9]{3}/">
            <div ng-messages="userForm.phone.$error" role="alert">
                <div ng-message="pattern">### ### ### Please enter a valid phone number.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-xs required="">
            <label>Country</label>
            <input ng-model="user.country" type="text" required="">
          </md-input-container>
        </div>
      </form>
      </md-content>
      <div class="modal-body" ng-init="alertUser = false" >
                <uib-alert type="danger" dismiss-on-timeout="2000" close="closeAlert()" ng-if="alertUser" ng-show="alertUser">{{msg}}</uib-alert> 
            </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" ng-disabled="userForm.$invalid" ng-click="update(user)"><span class="glyphicon glyphicon-ok-sign"></span> OK</button>
        <button type="button" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
        </div>
         </div>
    </div>