<div class="revenue" ng-controller="RevenueController">




		<table class="row-border table table-responsive table-hover">
    		<thead>
    			<tr>
    				<th>
	    				<div class="form-group">
							<input name="name" placeholder="Name" class="form-control" ng-model="revenue.name" revenue="text" required>
						</div>
					</th>
					<th>
	    				<div class="form-group">
							<input name="quantity" placeholder="Quantity" class="form-control" ng-model="revenue.quantity" revenue="text" required>
						</div>
					</th>
					<th>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success" ng-click="create()" ><i class="fa fa-plus"></i></button>
                    </div>
                	</th>
    			</tr>
    			<tr>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Date</th>
                    <th></th>	
                </tr>
    		</thead>
		  <tbody>
		    <tr ng-repeat="revenue in revenues.data">
		       <td>
		       <div class="form-group">
		       		<input name="name" value="{{revenue.name}}" class="form-control" ng-model="revenue.name" required>
		       </div>
		       </td>
		       <td>
		       <div class="form-group">
		       		<input name="quantity" value="{{revenue.quantity | currency }}" class="form-control" ng-model="revenue.quantity" required>
		       </div>
		       </td>
		       <td>
		       <div class="form-group">
		       		{{revenue.dateRevenue}}
		       </div>
		       </td>
		       <td>
                    <button type="button" ng-click="update(revenue)" class="btn btn-warning"><i class="fa fa-edit"></i></button>
                    <button type="button" ng-click="delete(revenue.idRevenue)" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                </td>
		      </tr>
		  </tbody>
		</table>
</div>



