<div class="revenue" ng-controller="RevenueController">
	<div class="revenue-body">
		<form name="revenueForm" accept-charset="UTF-8" role="form">
			<fieldset>
				<div class="register-form-login">
					<input name="quantity" placeholder="Quantity" class="register-form-box" ng-model="revenue.quantity" type="number" required>
				</div>
				<div class="register-form-fullname">
					<input name="name" placeholder="Name" class="register-form-box" ng-model="revenue.name" type="text" required>
				</div>
				<div class="register-form-submit">
					<button class="register-form-submit-button" type="button" ng-click="create()">
                         Submit
                    </button>
				</div>
			</fieldset>
		</form>
	</div>
	
	<div class="revenue-list">
		
    	<table>
		  <tbody>
		    <tr ng-repeat="revenue in revenues.data">
		       <td>{{revenue.name}}</td>
		       <td>{{revenue.quantity}}</td>
		       <td>{{revenue.dateRevenue}}</td>
		       <td><button ng-click="delete(revenue.idRevenue)" >DELETE</button></td>
		      </tr>
		  </tbody>
		</table>

	</div>
</div>



