<form class="interval" accept-charset="UTF-8" role="form">
<p class="input-group">
    <input placeholder="From" type="text" class="form-control" datepicker-options="dateOptions"  uib-datepicker-popup ng-model="startDate" is-open="datepopupInitOpened" ng-required="true" close-text="Close" />
    <span class="input-group-btn">
      <button type="button" class="btn btn-default" ng-click="openInitDate()"><i class="glyphicon glyphicon-calendar"></i></button>
  </span>
  <input placeholder="To" type="text" class="form-control" datepicker-options="dateOptions"  uib-datepicker-popup ng-model="endDate" is-open="datepopupEndOpened" ng-required="true" close-text="Close" ng-change="changeIntervalSpendings()"/>
    <span class="input-group-btn">
      <button type="button" class="btn btn-default" ng-click="openEndDate()"><i class="glyphicon glyphicon-calendar"></i></button>
  </span>
</p>
</form>
<div class="entity">
<div class="col-md-12">
    <div class="row">
      <div class="col-md-4">
        <button class="btn btn-primary" ng-click="create()">Add new spending</button>
      </div>
      <div class="col-md-8 buttons btn-group">
        <button type="button" class="btn btn-primary" ng-click="intervalDate(1)">Last Month</button>
        <button type="button" class="btn btn-primary" ng-click="intervalDate(2)">Last Quarter</button>
        <button type="button" class="btn btn-primary" ng-click="intervalDate(3)">Last Year</button>
      </div>
    </div>
</div>

  <form>
    <div class="form-group search">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" placeholder="Search spending by name" ng-model="searchSpending">
      </div>
    </div>
  </form>

<table class="row-border table table-condensed table-responsive table-hover table-striped">
    <thead>
    	<tr>
    	    <th ng-click="changeSort(1)"><span ng-class="classSort" >Name</span> </th>
          <th ng-click="changeSort(2)"><span ng-class="classSort" >Quantity</span> </th>
          <th ng-click="changeSort(3)"><span ng-class="classSort" >Date</span> </th>
           <th>Types</th>
           <th></th>
        </tr>
    </thead>
	<tbody>
	    <tr ng-repeat="spending in spendings.data | orderBy:sortSpending | filter:searchSpending">
	       <td>{{spending.name}}</td>
	       <td>{{spending.quantity | currency }}</td>
		   <td>{{spending.date | date: 'fullDate'}}</td>
       <td>
		   		<span ng-repeat="type in spending.types">
            {{type.name}}
          </span>
       </td>
		   <td>
        <button class="btn btn-warning btn-xs" ng-click="update(spending)" >
          <span class="glyphicon glyphicon-pencil"></span>
        </button>
        <button class="btn btn-danger btn-xs" ng-click="delete(spending)" >
          <span class="glyphicon glyphicon-trash"></span>
        </button>
		   </td>
		 </tr>
	</tbody>
</table>
<uib-alert type={{type}} dismiss-on-timeout="2000" ng-if="show" close="closeAlert()" ng-show="hide">{{message}}</uib-alert>
</div>
