<form class="interval" accept-charset="UTF-8" role="form">
<p class="input-group">
    <input placeholder="Since" type="text" class="form-control" datepicker-options="dateOptions"  uib-datepicker-popup ng-model="startDate" is-open="datepopupInitOpened" ng-required="true" close-text="Close" />
    <span class="input-group-btn">
      <button type="button" class="btn btn-default" ng-click="openInitDate()"><i class="glyphicon glyphicon-calendar"></i></button>
  </span>
  <input placeholder="Until" type="text" class="form-control" datepicker-options="dateOptions"  uib-datepicker-popup ng-model="endDate" is-open="datepopupEndOpened" ng-required="true" close-text="Close" ng-change="changeIntervalStocks()"/>
    <span class="input-group-btn">
      <button type="button" class="btn btn-default" ng-click="openEndDate()"><i class="glyphicon glyphicon-calendar"></i></button>
  </span>
</p>
</form>

<div class="entity">
<button class="btn btn-primary" ng-click="create()">Add new stock</button>
    	<table class="row-border table table-condensed table-responsive table-hover table-striped">
    		<thead>
    			<tr>
              <th ng-click="changeSort(1)"><span ng-class="classSort" >Total</span> </th>
              <th ng-click="changeSort(2)"><span ng-class="classSort" >Date</span> </th>
              <th></th>	
          </tr>
    		</thead>
		  <tbody>
		    <tr ng-repeat="stock in stocks.data | orderBy:sortStock ">
		       <td>{{stock.total | currency}}</td>
               <td>{{stock.date | date: 'fullDate'}}</td>
               <td>
                    <button class="btn btn-warning btn-xs" ng-click="update(stock)" >
                        <span class="glyphicon glyphicon-pencil"></span>
                   </button>
                   <button class="btn btn-danger btn-xs" ng-click="delete(stock)" >
                        <span class="glyphicon glyphicon-trash"></span>
                   </button>
                </td>
		      </tr>
		  </tbody>
		</table>


<uib-alert type={{type}} dismiss-on-timeout="1500" ng-if="show" close="closeAlert()" ng-show="hide">{{message}}</uib-alert> 

</div>