<div class="type">

    <button class="btn btn-primary" ng-click="create()">Add new type</button>

  <form>
    <div class="form-group search">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" placeholder="Search type by name" ng-model="searchType">
      </div>      
    </div>
  </form>

    
    	<table class="row-border table table-condensed table-responsive table-hover table-striped">
    		<thead>
    			<tr>
                    <th ng-click="changeSort()"><span ng-class="classSort" >Name</span> </th>
                    <th></th>
                    
                </tr>
    		</thead>
		  <tbody>
		    <tr ng-repeat="type in types.data | orderBy:sortType | filter:searchType">
		       <td>{{type.name}}</td>
               <td>
                    
                        <button class="btn btn-warning btn-xs" ng-click="update(type)" >
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                         <button class="btn btn-danger btn-xs" ng-click="delete(type)" >
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    
                </td>
                
                
		      </tr>
		  </tbody>
		</table>
        <uib-alert type={{typeAlert}} dismiss-on-timeout="1500" ng-if="show" close="closeAlert()" ng-show="hide">{{message}}</uib-alert> 
</div>