<div class="type" ng-controller="TypeController">

<button class="btn btn-primary" ng-click="addNewType()">Add new type</button>

    	<table class="row-border table table-condensed table-responsive table-hover table-striped">
    		<thead>
    			<tr>
                    <th>Name</th>
                    <th></th>
                    
                </tr>
    		</thead>
		  <tbody>
		    <tr ng-repeat="type in types.data">
		       <td>{{type.name}}</td>
               <td>
                    
                        <button class="btn btn-warning btn-xs" ng-click="update(type)" >
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                         <button class="btn btn-danger btn-xs" ng-click="delete(type)" >
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    
                </td>
                
                
		      </tr>
		  </tbody>
		</table>

</div>