<div class="user" ng-controller="UserController" layout="column">
	
	<div class="userBox md-whiteframe-z3" layout="column">
			<md-toolbar>
				<h2 class="md-toolbar-tools">
					<span>Account</span>
				</h2>
			</md-toolbar>
			<md-content layout-padding>
				 <ul class="list-group">
				  <li class="list-group-item"><label>Fullname: </label> {{user.data.fullname}}</li>
				  <li class="list-group-item"><label>Email: </label> {{user.data.email}}</li>
				  <li class="list-group-item"><label>Phone: </label> {{user.data.phone}}</li>
				  <li class="list-group-item"><label>Country: </label> {{user.data.country}}</li>
				</ul>
			</md-content>

			 <div id="editUser" class="btn-group">


				 <button id="updateUser" class="btn btn-default" type="button" ng-click="update(user)">
		            <span class="fa fa-pencil-square-o fa-lg">Update account</span> 
		        </button>

				 <button id="updatePass" class="btn btn-warning" type="button" ng-click="updatePass(user)">
		            <span class="fa fa-pencil-square-o fa-lg">Update password</span> 
		        </button>

		        <button id="deleteUser" class="btn btn-danger" type="button" ng-click="delete()">
				    <span class="fa fa-trash-o fa-lg">Delete</span> 
				</button>
			</div>
		</div>
	
		
	
</div>